@use 'variables' as *;
@use 'mixins' as *;
html {
  scroll-behavior: smooth;
  scrollbar-width: none; // ← 追加（Firefox）

  &::-webkit-scrollbar {
    display: none; // ← 追加（Chrome / Safari / Edge）
  }
}

body {
  background: $c-bg;
  color: $c-text;
  font-size: $f-base;
  line-height: 1.8;
  scrollbar-width: none; // ← 追加（Firefox）

  &::-webkit-scrollbar {
    display: none; // ← 追加（Chrome / Safari / Edge）
  }
}

img {
  display: block;
}