---
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/blocks/Header.astro';

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400&family=Klee+One&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>